* {
    box-sizing: border-box;
    margin:0; 
    padding:0;
    /* overflow: hidden; */
    /* font-family: 'PT Sans', sans-serif; */
}

body {
    margin: 0;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
nav img {
    height: 45px;
    width: 65px;
}
header {
    height: 60px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    /* color: #FFFFFF; */
    text-decoration: none;
}
nav a {
    text-decoration: none;
    color: black;
}
header a {
    text-decoration: none;
    color: black;
}
 

.nav--logo {
    max-width: 100px;
}
.nav_menu {
    text-align: center;  
}
 
.burger_div2 {
    margin-top: 0rem;
    height:0.25rem;
    background-color: #333;
}
.burger_div3 {
    width: 2rem;
    height:0.25rem;
    background-color: #333;
} */
/*  
.iframe__top{
    margin-left: 160px;
    height: 190px;
    width: 1170px;
}
.iframe__top:hover{
    cursor: pointer;
} */
.iframe__leftcorner{
    margin-left: 160px;
    margin-top: 90px;
}
.home__flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
} 

.home {
  /* margin-top: -280px; */
}
.iframe__leftcorner{
    margin-left: 145px;
}