.navbar-container {
  border: 1px solid gray;
  background-color: #f8f8f8;
  padding: 10px;
}

.navbar-item {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.navbar-heading {
  padding: 10px;
  cursor: pointer;
}

.navbar-list {
  position: absolute;
  top: 100%;
  left: 0;
  /* width: 500px; */
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex; /* Add this to make columns side by side */
}

.navbar-list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
}

.navbar-icon {  
  display: block;
  width: 20px;
  height: 20px;
  margin-right: px;
}

.navbar-item:hover .navbar-heading {
  background-color: lightgray;
}

.navbar-name {
  display: flex;
  align-items: center;
  white-space: nowrap;
  /* overflow: hidden;  */
}

.navbar-column1 {
  flex: 1;
}

.navbar-column2 {
  flex: 1;
}
.navbar-list-item  {
  color: black;
  text-decoration: none;
}

.navbar-list-item:hover {
  color: #FF7C14;
}